@model WebApplication1.Models.ContatoModel
<style type="text/css">
    input {
        margin-left: 25px;
    }

    form {
        margin-top: 50px;
    }
</style>

<form id="novoContatoForm">
    <div class="row">
        <p>
            @Html.LabelFor(model => model.Nome)
            @Html.TextBoxFor(model => model.Nome)
        </p>
        <p>
            @Html.LabelFor(model => model.TelefonePessoal)
            @Html.TextBoxFor(model => model.TelefonePessoal)
        </p>
        <p>
            @Html.LabelFor(model => model.TelefoneTrabalho)
            @Html.TextBoxFor(model => model.TelefoneTrabalho)
        </p>
        <p>
            @Html.LabelFor(model => model.EmailPessoal)
            @Html.TextBoxFor(model => model.EmailPessoal)
        </p>
        <p>
            @Html.LabelFor(model => model.EmailTrabalho)
            @Html.TextBoxFor(model => model.EmailTrabalho)
        </p>
        <p>
            @Html.LabelFor(model => model.Endereco)
            @Html.TextBoxFor(model => model.Endereco)
        </p>
        <p>
            @Html.LabelFor(model => model.Empresa)
            @Html.TextBoxFor(model => model.Empresa)
        </p>
    </div>
    <div class="row">
        <div class="col-md-6">
            <button type="button" id="cadastrarContato">Cadastrar</button>
        </div>
        <div class="col-md-6">
            <button type="button" id="limparContato">Limpar</button>
        </div>
    </div>
</form>
<script>
    $(document).ready(function () {
        $("#cadastrarContato").click(function () {

            var obj = {
                Nome: $("#Nome").val(),
                EmailPessoal: $("#EmailPessoal").val(),
                EmailTrabalho: $("#EmailTrabalho").val(),
                TelefonePessoal: $("#TelefonePessoal").val(),
                TelefoneTrabalho: $("#TelefoneTrabalho").val(),
                Endereco: $("#Endereco").val(),
                Empresa: $("#Empresa").val(),
            }

            $.ajax({
                type: 'POST',
                url: '@Url.Action("CadastrarNovoContato", "Home")',
                data: { novoContato: obj },
                cache: false,
                success: function (data) {

                    alert(data.conteudo);

                    $("#listarContato").trigger('click');
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
        });

        $("#limparContato").click(function () {
            $("#Nome").val("");
            $("#EmailPessoal").val("");
            $("#EmailTrabalho").val("");
            $("#TelefonePessoal").val("");
            $("#TelefoneTrabalho").val("");
            $("#Endereco").val("");
            $("#Empresa").val("");
        });

    });

</script>
