@model WebApplication1.Models.PesquisaModel

<table id="tblContatos">
    <thead>
        <tr>
            <th>@Html.LabelFor(model => model.Nome)</th>
            <th>@Html.LabelFor(model => model.TelefonePessoal)</th>
            <th>@Html.LabelFor(model => model.TelefoneTrabalho)</th>
            <th>@Html.LabelFor(model => model.EmailPessoal)</th>
            <th>@Html.LabelFor(model => model.EmailTrabalho)</th>
            <th>@Html.LabelFor(model => model.Endereco)</th>
            <th>@Html.LabelFor(model => model.Empresa)</th>
            <th>Editar</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var contato in Model.listaContatos)
        {
            <tr>
                <td>
                    @contato.Nome
                </td>
                <td>
                    @contato.TelefonePessoal
                </td>
                <td>
                    @contato.TelefoneTrabalho
                </td>
                <td>
                    @contato.EmailPessoal
                </td>
                <td>
                    @contato.EmailTrabalho
                </td>
                <td>
                    @contato.Endereco
                </td>
                <td>
                    @contato.Empresa
                </td>
                <td>
                    <input type="button" value="Editar" codigo="@contato.IdContato" class="btnEditarContato" />
                </td>
            </tr>
        }
    </tbody>
</table>

<script>
    $(document).ready(function () {
        $("#tblContatos .btnEditarContato").click(function () {

            $.ajax({
                type: 'POST',
                url: '@Url.Action("EditarContato", "Home")',
                data: { codContato: $(this).attr('codigo') },
                cache: false,
                success: function (data) {
                    $("#ContatoArea").empty();
                    $("#ContatoArea").html(data);
                },
                error: function (jqXHR, textStatus, errorThrown) {

                }
            });
        });
    });

</script>